stylin.css
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #eea7a7;
} 



.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}


.hero {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 10px;
 background: rgb(211, 69, 69);
  color: rgb(211, 69, 69);
  font-size: 20x;
}

.subtitle {
  text-align: center;
}

.form-wrapper {
  width: 100%;
  max-width: 900px;
  padding: 2rem;

 
  background: rgba(237, 202, 178, 0.85);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border-radius: 16px;
  box-shadow: 0 20px 50px rgba
}



.enrollment-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  gap: 1rem;
}

input, select, button {
  padding: 0.7rem;
  width: 100%;
}


.submit-btn {
  cursor: pointer;
}


.footer {
  text-align: center;
  padding: 1rem;
}


@media (max-width: 900px) {
  .form-row {
    flex-direction: column;
  }

  .form-wrapper {
    max-width: 600px;
  }
}


@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .form-wrapper {
    padding: 1.2rem;
  }

}
